.height-list {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  .ant-table-thead > tr > th {
    background: none;
  }
  span > a {
    margin-right: 20px;
  }
  .tooltip {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
  }
}
.ant-popover-inner-content {
  padding: 10px 0px;
}